body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Grid container */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
    gap: 20px;
    padding: 10px;
}

/* Product card */
.product {
    background: white;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product h3 {
    margin: 15px;
    font-size: 18px;
}
/*BREAKPOINT 1: TABLETS (600px – 1024px)
   → Switch to 2 column*/
@media (max-width: 1024px) and (min-width: 601px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* BREAKPOINT 2: MOBILES (≤600px)
   → Switch to 1 column*/
@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}